login-test/src/main/webapp/xml/NewXMLSchema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="user" type="user"/>

  <xs:element name="users" type="repository"/>

  <xs:complexType name="user">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="username" type="xs:string" minOccurs="0"/>
      <xs:element name="password" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="repository">
    <xs:sequence>
		<xs:element name="user" type="user" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

